// width/height pixels [0-300]
@for $i from 0 through 300 {
	.o-w-#{$i} {
		width: $i + px;
	}
	.o-h-#{$i} {
		height: $i + px;
	}
}

@for $i from 0 through 20 {
	$val: $i * 5;

	.o-vw-#{$val} {
		width: $val + vw;
	}
	.o-vh-#{$val} {
		height: $val + vh;
	}
}

// width/height percent [5-100]
@for $i from 1 through 20 {
	$name: $i * 5;
	$val: $i * 5%;

	.o-wp-#{$name} {
		width: $val;
	}
	.o-hp-#{$name} {
		height: $val;
	}
}

.o-m-auto {
	margin: 0 auto;
}

// Paddings and margins
@for $i from 0 through 100 {
	$val: $i;

	.o-pt-#{$val} {
		padding-top: $val + px;
	}
	.o-pb-#{$val} {
		padding-bottom: $val + px;
	}
	.o-pl-#{$val} {
		padding-left: $val + px;
	}
	.o-pr-#{$val} {
		padding-right: $val + px;
	}
	.o-p-#{$val} {
		padding: $val + px;
	}
	.o-px-#{$val} {
		padding-right: $val + px;
		padding-left: $val + px;
	}
	.o-py-#{$val} {
		padding-top: $val + px;
		padding-bottom: $val + px;
	}

	.o-mt-#{$val} {
		margin-top: $val + px;
	}
	.o-mb-#{$val} {
		margin-bottom: $val + px;
	}
	.o-ml-#{$val} {
		margin-left: $val + px;
	}
	.o-mr-#{$val} {
		margin-right: $val + px;
	}
	.o-m-#{$val} {
		margin: $val + px;
	}
	.o-mx-#{$val} {
		margin-right: $val + px;
		margin-left: $val + px;
	}
	.o-my-#{$val} {
		margin-top: $val + px;
		margin-bottom: $val + px;
	}
}

.o-mt-auto {
	margin-top: auto;
}

.o-mr-auto {
	margin-right: auto;
}

.o-mb-auto {
	margin-bottom: auto;
}

.o-ml-auto {
	margin-left: auto;
}

.o-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.o-my-auto {
	margin-top: auto;
	margin-bottom: auto;
}
